@charset "UTF-8";
/* reset */
body,
div,
dl,
dt,
dd,
ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
h6,
pre,
code,
form,
fieldset,
legend,
textarea,
p,
blockquote,
th,
td,
input,
select,
button,
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

dl,
ul,
ol,
menu,
li {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before, blockquote:after {
  content: "";
  content: none;
}

q:before, q:after {
  content: "";
  content: none;
}

input,
select,
textarea {
  font-size: 100%;
  vertical-align: middle;
}

button {
  font-size: 100%;
  vertical-align: middle;
  border: 0 none;
  background-color: transparent;
  cursor: pointer;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

body {
  -webkit-text-size-adjust: none;
}

/* 뷰표트 변환시 폰트크기 자동확대 방지 */
input[type=text], input[type=password], input[type=submit], input[type=search] {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  border-radius: 0;
}
input:checked[type=checkbox] {
  background-color: #666;
  -webkit-appearance: checkbox;
     -moz-appearance: checkbox;
          appearance: checkbox;
}

button {
  -webkit-appearance: button;
     -moz-appearance: button;
          appearance: button;
  border-radius: 0;
}

input[type=button], input[type=submit], input[type=reset], input[type=file] {
  -webkit-appearance: button;
     -moz-appearance: button;
          appearance: button;
  border-radius: 0;
}
input[type=search]::-webkit-search-cancel-button {
  -webkit-appearance: none;
          appearance: none;
}

/* 기본 폰트 설정 */
/* mobile */
body {
  font-size: 16px;
  line-height: 1.5;
  font-family: "Noto Sans KR", "Malgun Gothic", "맑은 고딕", sans-serif;
  color: #202020;
}

/* desktop */
/* color값은 디자인가이드에 맞게사용 */
a {
  color: #333;
  text-decoration: none;
}
a:active, a:hover {
  text-decoration: underline;
}

address,
caption,
cite,
code,
dfn,
em,
var {
  font-style: normal;
  font-weight: normal;
}

hr {
  display: none;
}

input[type=password] {
  font-family: "Malgun Gothic";
}

/* 웹폰트 사용시 점이 안보임 - 기본 폰트 사용  */
/* skipnavigation */
#u-skip {
  position: relative;
  z-index: 3000;
}
#u-skip a {
  position: absolute;
  top: -35px;
  left: 0;
  right: 0;
  display: inline-block;
  padding: 7px 10px 5px;
  background: #333;
  color: #fff;
  text-decoration: none;
  text-align: center;
  opacity: 0;
}
#u-skip a:focus {
  top: 0;
  opacity: 1;
  z-index: 1000;
}

/* 이미지 스프라이트 */
.img-g {
  display: inline-block;
  overflow: hidden;
  background: url(../../images/comm/img-comm.png) no-repeat;
  vertical-align: top;
}

/* 이미지 */
/* global */
.ir-pm {
  display: block;
  overflow: hidden;
  font-size: 0px;
  line-height: 0;
  text-indent: -9999px;
}

/* 사용된 이미지내 의미있는 텍스트의 대체텍스트를 제공할때 */
.ir-wa {
  display: block;
  overflow: hidden;
  position: relative;
  z-index: -10;
  width: 100%;
  height: 100%;
}

/* 중요한 이미지 대체텍스트로 이미지off시에도 대체 텍스트를 보여주고자 할때 */
.blind,
caption,
legend {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
  overflow: hidden;
}

/* 대체텍스트가 아닌 접근성을 위한 숨김텍스트를 제공할때 */
.f_l {
  float: left;
}

.f_r {
  float: right;
}

.show {
  display: block;
}

.hide {
  display: none;
}

.tbl {
  border-collapse: collapse;
  border-spacing: 0;
}

/* 테이블 초기화 */
.clearfix {
  display: block;
  overflow: visible;
  width: auto;
  clear: both;
  zoom: 1;
}
.clearfix:after {
  display: block;
  visibility: hidden;
  height: 0;
  font-size: 0;
  clear: both;
  content: "";
}

:root {
  --swiper-theme-color: #0400ff;
}

.wrap {
  min-height: 100vh;
}

.inner {
  width: 100%;
  margin: 0 auto;
  max-width: 1280px;
}

#header .container {
  display: flex;
  padding-top: 28px;
  flex-direction: column;
}
#header .container .inner {
  display: flex;
  padding-bottom: 20px;
}
#header .container .inner .box1 {
  align-items: center;
}
#header .container .inner #logo {
  display: flex;
  justify-content: center;
  width: 270px;
  height: 39px;
}
#header .container .inner .search-box {
  padding-left: 100px;
}
#header .container .inner .lang {
  display: flex;
  justify-content: center;
  align-items: center;
}
#header .container .inner .lang ul {
  display: flex;
  gap: 24px;
}
#header .container .inner .lang i {
  font-size: 20px;
  padding-right: 8px;
  line-height: 1.3;
}
#header .container .inner .lang .search-area {
  display: flex;
}
#header .container .inner .lang .search-area .btn-search {
  display: flex;
  align-items: center;
  height: 100px;
  padding: 0 10px;
}
#header .container .inner .category {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 39px;
}

#main {
  flex: 1;
  padding-top: 20px;
}

.inner {
  display: flex;
  justify-content: space-between;
}

.add-01 {
  margin-right: 30px;
}

.add-02 {
  margin: 0;
}

.sec-type1 {
  padding: 50px 0;
}

.contents-tit {
  display: flex;
  align-items: center;
  justify-items: center;
  font-size: 24px;
}
.contents-tit img {
  padding-top: 5px;
}
.contents-tit .sec-title .inner b {
  display: flex;
  justify-content: center;
}

.sec-title2 {
  display: flex;
  justify-content: center;
  padding-right: 90px;
}

.contents-img .inner {
  display: flex;
  justify-content: center;
}
.contents-img .inner img {
  margin: 20px;
}

.btn-img {
  display: flex;
  padding-left: 80px;
  padding-top: 40px;
  align-items: center;
  justify-content: center;
}

.sec-type2 {
  display: flex;
  justify-content: center;
}

.sec-type3 {
  padding-bottom: 30px;
}
.sec-type3 .contents-tit2 .inner {
  display: flex;
  align-items: center;
  justify-items: center;
  font-size: 26px;
  padding-top: 80px;
  padding-right: 130px;
}
.sec-type3 .contents-tit2 .inner img {
  padding-top: 3px;
}
.sec-type3 .contents-tit2 .inner .sec-title {
  display: flex;
}
.sec-type3 .contents-tit2 .inner .brand-tit {
  display: flex;
  justify-content: center;
}
.sec-type3 .contents-img2 .inner {
  display: flex;
  justify-content: space-between;
}
.sec-type3 .contents-img2 img {
  padding-top: 20px;
}

.service-page {
  display: flex;
  align-items: center;
}

.company-page {
  display: flex;
}

.sec-type4 {
  height: 850px;
  background: #2C2B28;
}
.sec-type4 img {
  display: block;
  margin: 0 auto;
}

#footer {
  display: flex;
  justify-content: center;
  background: #191919;
}
#footer img {
  display: block;
  margin: auto;
}/*# sourceMappingURL=styles.css.map */